@import 'new';

// header
body {
    margin: 0;
    padding: 0;
}
@mixin link-styles {
    text-decoration: none;
    color: $color_4;
    padding: 10px;
}
body{
    background-color: $color_3;
    color:$color_4;
}
header {
    border: 1px solid $color_4;
    margin: 7px;
    display: flex;
    justify-content: space-between ;
    background-color:$color_2;
    background-size: 100% 100%;
    img {
        height: 100px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .menu{
        margin-right: 5%;
        margin-top: 10px;
        ul{
            display: flex;
            .link{
                border: 2px solid $color_4;
                list-style: none;
                width: 100%;
                margin: 10px 20px;
                text-align: center;
                padding: 16px;
                display: inline-block;
            }
            a {
                @include link-styles;
                &:hover {
                    color:$color_3;
                }
            }
        }
    }
}

  
  // main


%input-styles {
    background-color: $color_1;
    padding: 6px;
    border: 1px solid $color_4;
    border-radius: 4px;
}
%button-styles {
    border: 1px solid $color_4;
    background-color: $color_1;
    color: $color_4;
    padding: 10px;
    border-radius: 6px;
    margin: 0 10px 0 auto;
}

@function n_size($font-size,$font_factor) {
    @return $font-size * $font_factor;
 }

main{
    border: 1px solid $color_4;
    margin: 7px;
    background-color: $color_2;
    display: flex;
    .section_1{
        display: flex;
        width: 70%;
        flex-direction: column;
        .section-one{
            h2{
                font-size: $f-size;
                text-align: center;
                margin-right: 130px;        
            }
            p{
                font-size: n_size($f-size, 0.8);
                text-align: center;
            }
                .p_first{
                    
                    display: inline-block;
                    width: 200px;
                    padding: 15px;
                    margin-top: 0;
                }
                #mid_p{
                    margin: 0 100px 25px 100px;
             }
        }
        .section_2{
            h2{
                font-size:  $f-size;
                text-align: center;      
            }
            img{
                width: 150px;
                height: 150px;
                margin: 30px 50px;
            }
        }
    }
    aside{
        display: flex;
        flex-direction: column;
        width: 22%;
        height: 100%;
        form{
            display: flex;
            flex-direction: column;
            width: 120%;
            margin-top: 20px;
            p{
                font-size: n_size( $f-size, 0.8);
                display: flex;
                align-items: center;
                margin: 10px 0;
                height: 40px;
                label{
                    display: inline-block;
                    width: 150px;
                }
                input{
                    @extend %input-styles;
                }
            }
            button{
                @extend %button-styles;
                &:hover {
                    background-color: $color_3;
                }            
            }
        }
        .other-container{
            h3{
                font-size: $f-size;
                width: 120%;
                text-align: center;
            }
            .other-items{
                .art_1{
                    margin-bottom: 10px;
                }
                article{
                display: flex;
                align-items: flex-start;
                width: 125%;
                img{
                    width: 100px;
                    height: 100px;
                }
                p{
                    font-size: n_size( $f-size, 0.8);
                    margin: 2px 0 5px 10px;
                    text-align: justify;
                }
            }
            }
            

        }
       
    }
}

footer {
    margin: 7px;
    border: 1px solid $color_4;
    background-color: $color_2;
    p {
        color: $color_4;
        padding-left: 20px ;
    }
}