#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 23vh 23vh 23vh 23vh;
    gap: 10px;
    width: 100%;
    height: 100%;
}
body{
    background-color: #d1c2e1;
}
.block{
    background-color: #f2ecf3;
    border: solid 2px #eae0eb ;
    color: #312134;

}

#korob9{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 6;
}

#korob9 img{
    height: 1fr;
    width: 1fr;
    margin: 0;
}

#korob10{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

#korob10 img{
    float: left;
    width: 55%;
}

#korb10 p{
    height: 1fr;
}

img{
    height: 80%;
    margin: 5px;
}

figure{
    width: 100%;
    margin: 0;
    text-align: center;
}