@font-face
{
font-family: 'Caveatregular';
src: 
url('fonts/Caveatregular.woff') format('woff');
}

@font-face
{
font-family: 'Exo2';
src: 
url('fonts/Exo2-Medium.woff') format('woff');
}

@font-face
{
    font-family: 'Comfortaa';
    src: 
    url('fonts/Comfortaa-Medium.woff') format('woff');  
}

body
{
    background-color: rgba(65, 88, 190, 0.57);
}

p
{
    font-family: 'Comfortaa';  
    text-indent: 25px;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    line-height:200%;
    font-size: 20px;
}

h2
{
    font-family: 'Exo2';
    margin-bottom: 1.2em;
    margin-top: 0.2rem;
    text-indent: 25px;
    text-align: left;
}

h1
{
    font-family: 'Caveatregular';
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    text-shadow:3px 4px rgba(255, 255, 255, 0.793);
    font-size: 45px;
}

p::first-letter
{
       font-weight: bold;
       font-size: 45px;
       color: white;
       background-color: hsla(275,100%,10%,1);
}

ol
{
    list-style-type: upper-roman;
    font-family: 'Comfortaa';  
    text-indent: 25px;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    line-height:200%;
    font-size: 20px;
 }
 
 li::marker
 {
    color: blue;
 }

 h2+ol
 {
    margin-top: -20px;
 }

 ol+p::first-line
{
    color: red;
}

 ol+p
{
    text-indent: 25px;
    font-size: 20px; 
}
