    caption, p{
    color: rgb(60, 52, 52);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt ;
    }
    p{
      text-align: justify;
      text-indent: 35px ;
      margin: 0px;
    }
    h1, h2, h3{
    color: rgb(196, 48, 48);
    font-family: "Monotype Corsiva";
    text-align: center;
    }

    span{
        color: rgb(150, 50, 50);
    }

    body{
        background-image: url(../img/facult.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: right top;
        background-size: 10%;
    }

    ul li {
      background-image: url(../img/krst.png);
      background-repeat: no-repeat;
      background-size: 10px;
      padding-left: 14px;
      list-style: none;
    }
    tr, td ,table{
      text-align: center;
      border: 1px black solid;
      border-collapse:collapse;
      width: 500px;
    }

    tr td {
      color: rgb(25, 9, 9);
      background-color: rgba(0, 0, 0, 0.41);
      opacity: 0.5;

    }
    a:link {
      color: rgb(25, 9, 9);
    }
    a:visited {
      color: rgb(25, 9, 9);
    }
    img.img1 {
      float: left;
      margin-right: 5px;
      width:300px;
      height:200px;  
    }
    img.img2 {
      float: right;
      margin-right: 5px;
      width:300px;
      height:200px;  
    }

    table{
        margin-bottom: 20px;
    }