body{
    background-color: #d5d56e;
}
img{
    height: 300px;
    width: 300px;
}

figure{
    background-color: #e8e8b0;
    height: 330px;
    width: 330px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}