h1, h2, h3{
    color: purple;
    font-family: "Monotype Corsiva";
    text-align: center;
}
.cv{
    color: rgb(173, 215, 255);
}
body{
    background-color: rgb(223, 127, 0);
}
.a{
    color: red;
    font-family: "Times New Roman";
    font-size: 18pt;
}
.b{
    color: yellow;
    font-family: "Times New Roman";
    font-size: 20pt;
}
.c{
    color: green;
    font-family: "Times New Roman";
    font-size: 22pt;
}
tr td {
    color: rgb(247, 179, 137);
    background-color: rgb(53, 39, 21);
    opacity: 0.5;
}
.x{
    color: rgb(118, 45, 13);
    font-family:Arial, Helvetica, sans-serif;
}