nav {
    width: 100%;
    text-align: center;
}

li {
    list-style: none;
}

a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
}

.menuitems {
    display: inline-block;
    border: 1px solid black;
    width: 150px;
    box-sizing: border-box;
    padding: 5px 0;
    margin: 5px;
    background-image: url(/img/facultet.png);
    background-repeat: no-repeat;
    background-position:0px 0px;
}

#hidetrigger {
    position: relative;
}

#submenu {
    display: none;
    position: absolute;
    right: 0;
    left: -1px;
    top: 29px;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.submenuitems {
    width: 150px;
    box-sizing: border-box;
    border: 1px solid;
    padding: 5px 0;
}

.submenuitems:hover, .menuitems:hover {
    background-color: #ececec;
}

#hidetrigger:hover #submenu {
    display: block;
}

#hidetrigger:hover {
    background-position: 0px -30px;
}

#pim:hover {
    background-position: 0px -90px;
}

#htit:hover {
    background-position: 0px -60px;
}