table{
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: center;
}
tr, td, th {
    border: 2px solid black;
    padding: 5px;
}
.stl {
    background-color: rgb(174, 240, 142);
}
.str {
    background-color: rgb(209, 142, 240);
}
.day{
    writing-mode: vertical-lr;
}
