form{
    padding: 2px 0px 5px 12px;
    background-color: indigo;
    width: 380px;
    font-size: 1.2em;
}
.table{
    color: azure;
}
.table label{
    display: inline-block;
    width: 110px;
    vertical-align: top;
}
input[type="text"],input[type="email"]{
    background-color: rgba(255, 255, 255, 0.5) ;
    color:rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 10px  rgba(255, 255, 255, .75);
    border-radius: 5px;
    
}
span {
    display: inline;
    padding-right:75px;
}
input[type="checkbox"]{
    padding-left: 10px;
    font-size: 50px;
}
#button{
    padding-left: 120px;
}
.button{
    background-color: rgb(0, 0, 152);
    color: white;
    box-shadow: 0 0 5px;
}
input[type="text"]:focus{
    background-color: white;
    color:black;
}
