table
    {
        border-spacing:0;
        text-align: center;  
    }

caption {
        font-size: 1.2em;
        text-align: center;
    }

td,th{
    empty-cells: hide;
    border:2px solid rgba(72, 72, 72, 0.882);
    padding:3px;
    }
    
 th{
    font-size:1.2em;
    text-align: center;
    background-color:darkblue ;
    color:white;
    }
tbody td:nth-child(2)
    {
    background-color:#00BFFf;
    color:white
    }
tbody td:nth-child(3)
    {
    background-color: purple;
    color:white
    }
tbody td:nth-child(4)
    {
    background-color: green;
    color:white
    }
tfoot td:nth-child(2)
    {
    background-color:#00BFFf;
    color:white
    }
tfoot td:nth-child(3)
    {
        background-color: purple;
        color:white
    }
tfoot td:nth-child(4)
    {
        background-color: green;
        color:white
    }
